[submodule "pack/plugins/start/vim-doge"]
	path = pack/plugins/start/vim-doge
	url = https://github.com/kkoomen/vim-doge
[submodule "pack/plugins/start/rainbow"]
	path = pack/plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/plugins/start/vim-endwise"]
	path = pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/plugins/start/vim-Grammalecte"]
	path = pack/plugins/start/vim-Grammalecte
	url = https://github.com/dpelle/vim-Grammalecte
